Source: temperature-monitor
Section: misc
Priority: optional
Maintainer: Alex Tomlins <alex@tomlins.org.uk>
Build-Depends: debhelper (>= 8.0.0), golang (>= 2:1.8) | golang (>= 2:1.8~1)
Standards-Version: 3.9.7
Homepage: https://github.com/alext/temperature-monitor

Package: temperature-monitor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: A daemon to poll temperature sensors
 A daemon to poll one or more temperature sensors and provide readings as JSON
 over HTTP.
