#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

export GOPATH:=$(CURDIR)/gopath:$(CURDIR)/Godeps/_workspace

%:
	dh $@ 

override_dh_auto_build:
	mkdir -p $(CURDIR)/gopath/src/github.com/alext
	ln -s ../../../.. $(CURDIR)/gopath/src/github.com/alext/temperature-monitor
	go build -o temperature-monitor

# Disable stripping golang binaries.
override_dh_strip:
